
* { /* Make everything the same as default (for cross-browser consistency), I will change it below */
  font-weight: normal;
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: block;
  font-size: 20px;
}
title {
  display: none;
}
body {
  background-color: lightblue;
}
h1 {
  font-size: 60px;
  color: red;
  margin: 5px;
}
h2 {
  font-size: 40px;
  color: darkred;
  margin: 5px;
}
p {
  margin-left: 20px;
  color: darkorange;
}
